<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="images">
            <img src="assets/wikiproject1.png" alt="imagenwiki">
            <img src="assets/wikiproject2.png" alt="imagenwiki">
            <img src="assets/wikiproject3.png" alt="imagenwiki">
            <img src="assets/wikiproject4.png" alt="imagenwiki">
        </div>
        
        </div>
        <div class="button-right">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="button-left">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
    </div>
</div>


