
<div class="container-proyectos">
    <div class="cards2">
        <div class="card-carousel">
            <app-card2 [items]="items"></app-card2>
        </div>

        <div class="text-container">
            <div class="title">
                <h1> 01. Proyecto: Buscador de Wikipedia</h1>
            </div>
            <div class="description">
                <p>Se trata de una copia del buscador de Wikipedia con el cual, al escribir el nombre del elemento sobre el cual se pretende 
                    encontrar información, la aplicación realiza una petición HTTP a la API de Wikipedia y muestra los resultados. Se muestran 
                    varios de los resultados de la búsqueda con su título y descripción y, haciendo click sobre el elemento de interés se accede 
                    a su artículo de Wikipedia. 
                </p>
            </div>
            
        </div>
    </div>

    <div class="separador"></div>

    <div class="cards2">
        <div class="card-carousel">
            <app-card2 [items]="items2"></app-card2>
        </div>

        <div class="text-container">
            <div class="title">
                <h1> 02. Proyecto: Aplicación del tiempo</h1>
            </div>
            <div class="description">
                <p>En este proyecto se ha creado una aplicación del tiempo. Implementando dos peticiones HTTP a una API libre del tiempo, una vez el 
                    usuario ha escrito el nombre de la ciudad sobre la que desea conocer el tiempo, entonces la aplicación muestra la información 
                    del tiempo de dicha ciudad. Además, el usuario tiene un tiempo para introducir el nombre sin que la aplicación realice una
                    búsqueda en caso de que se equivoque con el nombre. 
                </p>
            </div>
            
        </div>
    </div>

</div>