.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    color: white;
    z-index: 10;
    transition: 1s ease-in-out;
   
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: 900;
    margin: .5rem;
    padding: .5rem 0;
}

.navbar-title:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: .5s ease;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s ease-in;
}



.navbar-links ul{
    display: flex; 

}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    padding: 1rem; 
    display: block;
}

.navbar-links li:hover {
    opacity: 0.8;
    cursor: pointer;
}

.navbar-links li:active {
    transform: scale(1.2,1.2);
}

.links {
    /* position: relative; */
    /* bottom: 8px;
    right: 15rem; */
    transition: 1s ease-in;
} 

.links a {
    padding: 0 .5rem;
}

.links img {    
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
}

.links a:active {
    color: #ffffff;
}


.links .linkedin-background{
    display: inline-block;
    margin: 0;
    height: 1.8rem;
    width: 1.8rem;
    padding: 0;
    position: relative;
    left: 2rem;

    z-index: 0;
}



.toggle-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}









@media (max-width: 780px) {
    .toggle-button {
        margin-top: 5px;
        display: flex;

    }

    .navbar-links {
        width: 100%;
    }

    .oculto {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }


    .links {
        position: static;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .links a {
        margin: .5rem 0;
    }

    .navbar-links ul{
        margin-right: 3.5rem;
        margin-bottom: 1rem;
    
    }



}