
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container-contact {
  background-color: #f9c24c;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.ancho {
  width: 24rem;
  }



  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--myorange);
  }

  hr.solid {
    border-top: 2px solid var(--myorange);
    color: var(--mypurple);
    background-color: var(--myorange);
    opacity: .5;
    width: 40%;
    position: relative;
    left: 30%;
    bottom: .8rem;
  }