<div class="container" *ngIf="mobile">
    
    <div class="buttons-carousel">
        <div class="circle">
            <mat-icon (click)="setBackMobile()">keyboard_arrow_left</mat-icon>
        </div>

        <div class="circle">
            <mat-icon (click)="setNextMobile()">keyboard_arrow_right</mat-icon>
        </div>
        
        
    </div>
    <div class="ventana">
        <div class="subventana">
        <div class="images" [ngStyle]="{'left': marginLeft +'%'}">
            <ng-container *ngFor="let it of items">
                <img src={{it.src}} alt="">
            </ng-container>
        </div>
        </div>
    </div>
</div>



<div class="container" *ngIf="!mobile">
    <div class="buttons-carousel">
        <div class="circle">
            <mat-icon (click)="setBack()">keyboard_arrow_left</mat-icon>
        </div>

        <div class="circle">
            <mat-icon (click)="setNext()">keyboard_arrow_right</mat-icon>
        </div>
        
        
    </div>
    <div class="ventana">
        <div class="subventana">
        <div class="images" [ngStyle]="{'left': marginLeft +'rem'}">
            <ng-container *ngFor="let it of items">
                <img src={{it.src}} alt="">
            </ng-container>
        </div>
        </div>
    </div>
</div>