<div class="container"  #inicio >
    <div  class="navbar" >
        <app-navbar (inicioEmit)="scrollInicio()"
        (sobreMiEmit)="scrollSobreMi()"
        (proyectos)="scrollProyectos()"
        (contacto)="scrollContacto()"></app-navbar>
    </div>

    



    <div class="container-presentacion" >
    <!-- <div [ngClass]="{is_phone: 'container-presentacion'}" *ngIf="true" > -->
        <div class="presentacion-info" @inicioPaginaLeft>
            <div class="cont-primero">
                <h1 class="an-1">Desarrollador Front end</h1>
                <p>Soy un físico convertido en desarrollador Front End, me he formado en este campo por mi cuento y estoy deseando
                    poder obtener una oportunidad para trabajar <span class="circle-purple"></span> </p>
                <!-- <div class="circle-purple" *ngIf="!hideCircles" [ngStyle]="{'position': 'relative', 'left': '6.4rem', 'bottom': '1.24rem'}"></div> -->
            </div>
            <div class="cont-primero">
                <h1>Físico Teórico</h1>
                <p>Pasión por comprender cómo funciona el Universo tanto a escalas
                    infinitamente pequeñas como infinitamente grandes </p>
                <!-- <div class="circle-purple" *ngIf="!hideCircles" [ngStyle]="{'position': 'relative', 'left': '14.2rem', 'bottom': '1.2rem'}"></div> -->
            </div>
        </div>

        <div class="presentacion-image" @inicioPaginaRight *ngIf="!hide">
            <!-- <img src="assets/programmer.png" alt="IMAGE"> -->
            <img src="assets/frontendImage.png" alt="IMAGE">
            <!-- IMAGES -->
        </div>
    </div>


    <div *ngIf="!hide" class="about-me" #sobreMi [ngStyle]="{'background-color': false ? 'red': ''}">
    <app-sobre-mi ></app-sobre-mi>
    </div>

    <div *ngIf="!hide" class="proyectos" #proyecto>
        <app-proyectos></app-proyectos>
    </div>

    <div *ngIf="!hide" class="contacto" #contacto>
        <app-contacto></app-contacto>
    </div>

    <div class="piedepagina" >
        <h1>Diseñado y construido por <span>David Sanz</span> </h1>
        <div class="email">sanzruiz999@gmail.com</div>
        <div class="telefono">+34 692413314</div>
    </div>


    
  
    <!-- <div>
        <app-auxiliar>
            <app-subauxiliar style="background-color:red"></app-subauxiliar>
        </app-auxiliar>
    </div> -->
  
</div> 

