




<div class="cards">
    <div class="parte-superior">
        <div class="content hover-effect" id="arriba">
            Llevo varios meses de aprendizaje de desarrollo Front end. Empecé con Html, Css, JavaScript y luego 
            me elegí utilizar el framework Angular, por lo cual, también aprendí TypeScript. Además, he utilizado 
            NodeJs junto con MongoDB y MySQL para poder conectar el Front end con un proyecto básico de Back end. También 
            he utilizado Git para subir mis proyectos a Github y tengo experiencia utilizando Python para cálculo numérico. 
        </div>
        <div class="separador"></div>

        <div class="content hover-effect" id="derecha">
            Mis años de estudio de la física me han aportado una buena base con la que poder especializarme en una gran
            variedad de nuevos campos.
             Aprendí que muchas veces un buen planteamiento
            de un problema es la solución. No solo busco aprender más desarrollo Front End sino que también me 
            gustaría abordar desarrollo Back End aprendiendo nuevos lenguajes 
            de programación y, finalmente, convertirme en desarrollador Full Stack. 
        </div>
        <div class="separador"></div>

        <!-- <div class="content hover-effect" id="abajo">
            
        </div> -->
        
    </div>
    <div class="separador" style="height: 6rem;"></div>
    
    <!--Carta con niveles de progreso: -->
    <div class="card hover-effect">
        <div class="card-top">
            <div class="card-title">
            <i class="fa-solid fa-laptop fa-xl" style="color: #e0b1cb;"></i>
               <p>Desarrollo Front end</p>
            </div>
        </div>

        <div class="card-bottom" style="margin-top: 25px;">
            <div class="bottom-subcard">
                <p>Lenguajes que utilizo:</p>

                <ul>

                    <li *ngFor="let el of languages;">
                        {{el.lenguaje}}
                        <mat-progress-bar
                        class="progress-bar"
                        [color]="'accent'"
                        [mode]="'determinate'"
                        [value]="el.progress">
                        </mat-progress-bar>
                    </li>
                </ul>
            </div>
            <div class="bottom-subcard">
                <p>Herramientos que utilizo </p>

                <ul>
                    <li *ngFor="let el of herramientas;">
                        {{el.herramienta}}
                        <mat-progress-bar
                        class="progress-bar"
                        [color]="'accent'"
                        [mode]="'determinate'"
                        [value]="el.progress">
                        </mat-progress-bar>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </div>
</div>

