.ds-carousel {
    width: 70%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ds-carousel::before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .48);
}

.content-carousel {
    width: 100%;
    align-self: stretch;
    display: flex;
    overflow: scroll;
}

.content-carousel .item {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 1s all ease-in;

}

.buttons-carousel {
    position: absolute;
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}


