/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #F5F5F5;
    --secondary: #333333;
    --white: #fff;
    --mypurple: #4831D4;
    --mydarkpurple: #24196d;
    --myorange: #f3c763;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100;
    background-color: var(--primary);
    /* overflow-x: hidden; */
}


.hover-effect {
    transition:  0.5s all;
}
.hover-effect:hover {
    transform: scale(1.05);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
